# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

.project
.classpath
.factorypath
.project

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.idea/
/services/.idea/
/services/.settings/
/services/.project
/services/ec2/logs/
/services/gatekeeper-parent.iml
/services/common/gatekeeper-common.iml
/services/common/target/
/services/common/.idea/
/services/common/.settings/
/services/target/
/services/.idea/
/services/.settings/
/services/db/target/
/services/db/.idea/
/services/db/.settings/
/ui/dist/
/demo-services/fake-sso/.idea/
/demo-services/fake-account-service/target/
/demo-services/fake-account-service/.idea/
